#bg{
	width: 1920px;
	height: 750px;
	background-image: url(../img/bg.jpg);
	background-color: black;
	background-repeat: no-repeat;
	background-size: 450% 100%;
	/* background-position-x: -3350px; */
	background-position-x: 0px;/* //-2950 */
	background-position-y: -10px;
	position: fixed;
	z-index: -1;
	
}
body{
	padding: 0;
	margin: 0;
	
}
